USE [StoreSample]
GO
/****** Object:  StoredProcedure [Sales].[CreateOrder]    Script Date: 4/09/2025 6:00:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [Sales].[CreateOrder]
	@CustId INT,
    @Empid INT,
    @Shipperid INT,
    @Shipname NVARCHAR(40),
    @Shipaddress NVARCHAR(60),
    @Shipcity NVARCHAR(15),
    @Orderdate DATE,
    @Requireddate DATE,
    @Shippeddate DATE,
    @Freight MONEY,
    @Shipcountry NVARCHAR(15),

    @Productid INT,
    @Unitprice MONEY,
    @Qty SMALLINT,
    @Discount REAL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO Sales.Orders
        (
            empid, custid, shipperid, shipname, shipaddress, shipcity, 
            orderdate, requireddate, shippeddate, freight, shipcountry
        )
        VALUES
        (
            @Empid, @CustId, @Shipperid, @Shipname, @Shipaddress, @Shipcity,
            @Orderdate, @Requireddate, @Shippeddate, @Freight, @Shipcountry
        );
        DECLARE @NewOrderId INT = SCOPE_IDENTITY();

        INSERT INTO Sales.OrderDetails
        (
            orderid, productid, unitprice, qty, discount
        )
        VALUES
        (
            @NewOrderId, @Productid, @Unitprice, @Qty, @Discount
        );

        COMMIT TRANSACTION;

        SELECT @NewOrderId AS NewOrderId;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        -- Manejo de errores
        THROW;
    END CATCH
END;
