USE [StoreSample]
GO
/****** Object:  StoredProcedure [Sales].[GetShippers]    Script Date: 4/09/2025 6:01:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [Sales].[GetShippers]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        shipperid,
        companyname
    FROM Sales.Shippers
    ORDER BY companyname;
END;
