USE [StoreSample]
GO
/****** Object:  StoredProcedure [HR].[GetEmployees]    Script Date: 4/09/2025 5:59:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [HR].[GetEmployees]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        empid,
        CONCAT_WS(' ', firstname, lastname) AS FullName
    FROM HR.Employees
    ORDER BY lastname, firstname;
END;
