USE [StoreSample]
GO
/****** Object:  StoredProcedure [Production].[GetProducts]    Script Date: 4/09/2025 5:59:18 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [Production].[GetProducts]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        productid,
        productname,
		unitprice
    FROM Production.Products
    ORDER BY productname;
END;
