USE [StoreSample]
GO
/****** Object:  StoredProcedure [Sales].[GetClientOrders]    Script Date: 4/09/2025 6:00:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [Sales].[GetClientOrders]
    @CustomerId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        o.orderid,
        o.requireddate,
        o.shippeddate,
        o.shipname,
        o.shipaddress,
        o.shipcity
    FROM Sales.Orders o
    WHERE o.custid = @CustomerId
    ORDER BY o.orderdate DESC;
END;
