USE [StoreSample]
GO
/****** Object:  StoredProcedure [Sales].[GetNextPredictedOrders]    Script Date: 4/09/2025 6:01:00 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER PROCEDURE [Sales].[GetNextPredictedOrders]
@CompanyName NVARCHAR(100) = NULL   -- parámetro opcional
AS
BEGIN
    SET NOCOUNT ON;

    WITH OrderIntervals AS (
        SELECT 
            o.custid,
            DATEDIFF(DAY, 
                     LAG(o.orderdate) OVER (PARTITION BY o.custid ORDER BY o.orderdate), 
                     o.orderdate) AS DaysBetween
        FROM Sales.Orders o
    )
    , AvgIntervals AS (
        SELECT 
            custid,
            AVG(DaysBetween * 1.0) AS AvgDaysBetween
        FROM OrderIntervals
        WHERE DaysBetween IS NOT NULL
        GROUP BY custid
    )
    , LastOrders AS (
        SELECT 
            o.custid,
            MAX(o.orderdate) AS LastOrderDate
        FROM Sales.Orders o
        GROUP BY o.custid
    )
    SELECT 
		c.custid as [customerId],
        c.companyname AS [CustomerName],
        lo.LastOrderDate AS [LastOrderDate],
        DATEADD(DAY, ai.AvgDaysBetween, lo.LastOrderDate) AS [NextPredictedOrder]
    FROM Sales.Customers c
    JOIN LastOrders lo ON c.custid = lo.custid
    LEFT JOIN AvgIntervals ai ON lo.custid = ai.custid
	WHERE (@CompanyName IS NULL OR c.companyname LIKE '%' + @CompanyName + '%')
    ORDER BY c.companyname;
END;